version: '3.9'

services:
  web:
    build: .
    network_mode: host
    volumes:
      - .:/app
      - ./starlink_isp/media:/app/media
    environment:
      - DEBUG=1
    command: gunicorn starlink_isp.wsgi:application --bind 0.0.0.0:8000 --workers 2 --timeout 120
